<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Amjad taleb sss</h1>

<p>I have a parakeet named Pietje. He can fly and play well. In the daytime he is allowed out of his cage. He eats and drinks in his cage. He has many toys:</p>


<title>My parakeet</title>

<a href="animals.html">Read about my other pets</a>
<br>
<br>
<b>This is displayed bold</b>



<p>A mirror<br>
A bell
Another mirror<br>
Another bell<br>
And much much more</p>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<h1 style="background-color:rgba(115, 99, 1, 1);">...</h1>
<a href="https://www.youtube.com/watch?v=QvTyqta3OJo">url files</a>


</body>
</html>
